<mat-grid-list cols="7" rowHeight="1:1">
  <mat-grid-tile *ngFor="let dayObj of monthDays">
    <div [ngClass]="{ daysContainer: true, currentDay: isToday(dayObj.day) }">
      <span *ngIf="scrolled && dayObj.weekday" class="dayWeek" [@fadeIn]>
        {{ dayObj.weekday }}
      </span>

      <span
        *ngIf="dayObj.day"
        class="dayNumber"
        [@moveDown]="scrolled ? 'active' : 'inactive'"
      >
        {{ dayObj.day }}
      </span>

      <app-show-tasks
        class="absolute w-full h-full"
        *ngIf="dayObj.day"
        [day]="dayObj.day"
        [month]="month"
        [year]="year"
        [scrolled]="scrolled"
        [tasks]="expandedTasksByDay[generateDateKey(dayObj.day)] || []"
        [maxVisibleTasks]="2"
        (dataEmitter)="handleDataFromChild($event)"
      ></app-show-tasks>
    </div>
  </mat-grid-tile>
</mat-grid-list>
