# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node modules
/node_modules
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Angular and build caches
/.angular/cache
.sass-cache/

# Logs and coverage
/coverage
/libpeerconnection.log
testem.log

# Miscellaneous files
/connect.lock
/typings
firebase-adminsdk.json
credentials.json

# System files
.DS_Store
Thumbs.db

# Firebase
.firebase
*-debug.log
.runtimeconfig.json
.env
.vercel
.env*.local
