<div class="container" (click)="close()">
  <div class="menu" (click)="$event.stopPropagation()">
    <h2>Tasks Details</h2>
    <button mat-icon-button (click)="close()" class="exit-button">X</button>
    <div *ngIf="tasks.length > 0; else noTasksTemplate">
      <div *ngFor="let task of tasks">
        <div>{{ task.title }}</div>
        <div>Task start in: {{ task.startDate }}</div>
        <div>Task end in: {{ task.endDate }}</div>
      </div>
    </div>
    <ng-template #noTasksTemplate>
      <div>No tasks added yet</div>
    </ng-template>
  </div>
</div>
