.tasksOfTheDayContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  .taskContainer {
    text-align: center;
    color: #fff;
    border-radius: 5px;
    width: 100%;
    background-color: #029ae4;
    margin-top: 5px;
  }
  .taskContainer.currentDay {
    background-color: #f05722;
  }

  .moreTasks {
    padding-top: 5px;
    font-weight: 500;
  }
}
