<mat-toolbar class="flex justify-around drop-shadow-lg">
  <div class="flex justify-center items-center text-center gap-2">
    <h2 id="current-month">
      {{ currentMonthName }}
    </h2>
    <div class="flex justify-center items-center">
      <button
        id="button-arrow-drop-down-data-picker"
        class="w-10 h-10 flex justify-center items-center rounded-full"
        aria-label="Example icon-button with menu icon"
        (click)="toggleRotation()"
        [ngClass]="{ rotated: isRotated }"
      >
        <mat-icon id="arrow-drop-down-data-picker">arrow_drop_down</mat-icon>
      </button>
      <app-header-data-picker
        *ngIf="isRotated"
        class="absolute top-full mt-2"
        (dateSelected)="onDatePickerSelect($event)"
      ></app-header-data-picker>
    </div>
  </div>
  <button
    id="button-select-today"
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
    (click)="selectCurrentDay()"
  >
    <span class="absolute left-1/2 -translate-x-1/2">{{ currentDay }}</span>
    <mat-icon>calendar_today</mat-icon>
  </button>
</mat-toolbar>
