mat-toolbar {
  height: 100%;

  #button-select-current-month {
    height: 3rem;
    width: 8rem;
    font-size: large;
  }

  #button-arrow-drop-down-data-picker {
    background-color: none;
    transition: 0.1s;

    &:hover {
      background-color: rgba(128, 128, 128, 0.2);
    }
    &:focus {
      outline: none;
    }
    &:active {
      background-color: rgba(169, 169, 169, 0.5);
      transform: scale(0.98);
    }

    .mat-icon {
      transform: rotate(-90deg);
      transition: transform 0.1s ease;
    }

    &.rotated .mat-icon {
      transform: rotate(0deg);
    }
  }

  #button-select-today {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;

    span {
      padding-top: 9px;
      font-size: 1.2rem;
    }

    mat-icon {
      transform: scale(1.6);
    }
  }
}
